In [1]:
import pandas as pd

# Finding New Zealand Unemployment Rate

In [2]:
# URL of the CSV file
url = 'https://raw.githubusercontent.com/HAZCHEM234/My_data/main/Unemployment_rate_countries.csv'

# Read the CSV file into a DataFrame
df = pd.read_csv(url)

In [3]:
# Filter the DataFrame to show only rows where the country is New Zealand
nz_rows = df[df['Country Name'] == 'New Zealand']

# Display the filtered rows
nz_rows

,Country Name,Country Code,Indicator Name,Indicator Code,1991,1992,1993,1994,1995,1996,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
180,New Zealand,NZL,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,10.614,10.667,9.804,8.354,6.461,6.29,...,5.428,5.415,5.147,4.736,4.335,4.109,4.595,3.776,3.297,3.737

In [4]:
# Select the year columns from 2017 to 2023 and transpose the DataFrame
unemployment_rate = nz_rows.loc[:, '2017':'2023'].T

# Reset the index to make the years a column
unemployment_rate = unemployment_rate.reset_index()

# Rename the columns
unemployment_rate.columns = ['date', 'unemployment rate']

# Sort by date in descending order
unemployment_rate = unemployment_rate.sort_values(by='date', ascending=False).reset_index(drop=True)

# Display the reshaped DataFrame
unemployment_rate

   date  unemployment rate
0  2023              3.737
1  2022              3.297
2  2021              3.776
3  2020              4.595
4  2019              4.109
5  2018              4.335
6  2017              4.736

# New Zealand GDP

### Reading EXCEL Files

Excel file = GDP_and_Components.xlsx

copy the link of the excel file

In [5]:
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\python311\lib\site-packages (3.1.4)
Requirement already satisfied: et-xmlfile in c:\python311\lib\site-packages (from openpyxl) (1.1.0)

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [6]:
# Path to the Excel file
file_path = r'C:\Users\muham\OneDrive\Projects\Job_loss and economic factor analysis\GDP_and_Components.xlsx'

# Read the Excel file into a DataFrame
df = pd.read_excel(file_path, sheet_name='Sheet1')

In [7]:
# Select rows 3 and 11 (Note: pandas uses zero-based indexing)
selected_rows = df.iloc[[1, 9]]

# Display the selected rows
selected_rows

,Indicator,Code,Base Year,Scale,2017,2018,2019,2020,2021,2022,2023,Unnamed: 11,Unnamed: 12,Unnamed: 13
1,"Gross Domestic Product, Nominal, Domestic Curr...",NGDP_XDC,NaN,Millions,286455,302474,319684,323461,353002,381035,405145,NaN,NaN,Indcator
9,"Gross Domestic Product, Real, Domestic Currency",NGDP_R_XDC,NaN,Millions,243732,253687,261891,259288,274604,280754,282529,NaN,NaN,NaN

In [8]:
# Select rows 1 and 9
gdp_nominal_row = df.iloc[1]
gdp_real_row = df.iloc[9]

# Filter out rows with NaN values
gdp_nominal_filtered = gdp_nominal_row.dropna()
gdp_real_filtered = gdp_real_row.dropna()

# Align indices to ensure they match after filtering NaNs
gdp_nominal_filtered = gdp_nominal_filtered[gdp_nominal_filtered.index.isin(gdp_real_filtered.index)]
gdp_real_filtered = gdp_real_filtered[gdp_real_filtered.index.isin(gdp_nominal_filtered.index)]

# Create a new DataFrame with the desired structure
data = {
    'date': gdp_nominal_filtered.index[4:][::-1],  # Reverse the order of years
    'GDP Nominal (in millions)': gdp_nominal_filtered.values[4:][::-1],  # Reverse the order of values
    'GDP Real (in millions)': gdp_real_filtered.values[4:][::-1]  # Reverse the order of values
}

# Create the final DataFrame
final_df = pd.DataFrame(data)

final_df

   date GDP Nominal (in millions) GDP Real (in millions)
0  2023                    405145                 282529
1  2022                    381035                 280754
2  2021                    353002                 274604
3  2020                    323461                 259288
4  2019                    319684                 261891
5  2018                    302474                 253687

### Merge the dataframe

In [9]:
# Merge final_df and unemployment_rate table on 'Date'
merged_df = pd.merge(final_df, unemployment_rate, on='date')

In [10]:
merged_df

   date GDP Nominal (in millions) GDP Real (in millions)  unemployment rate
0  2023                    405145                 282529              3.737
1  2022                    381035                 280754              3.297
2  2021                    353002                 274604              3.776
3  2020                    323461                 259288              4.595
4  2019                    319684                 261891              4.109
5  2018                    302474                 253687              4.335

This dataframe will found on github: 

https://raw.githubusercontent.com/HAZCHEM234/My_data/main/merged_unemployment_and_gdp.csv

In [11]:
merged_df.to_csv('merged_unemployment_and_gdp.csv', index=False)

# Gender and Age group unemployment rate

Github page:
https://raw.githubusercontent.com/HAZCHEM234/My_data/main/Gender%20and%20age%20unemployment%20rate.csv

In [12]:
# URL of the CSV file
url = 'https://raw.githubusercontent.com/HAZCHEM234/My_data/main/Gender%20and%20age%20unemployment%20rate.csv'

# Read the CSV file into a DataFrame
df = pd.read_csv(url)

In [13]:
# Filter the DataFrame to show data only for the year 2023
filtered_df = df[df['time'] == 2023][['time','sex.label', 'classif1.label']]

# Display the filtered DataFrame
filtered_df

   time   sex.label              classif1.label
0  2023  Sex: Total    Age (Youth, adults): 15+
1  2023  Sex: Total  Age (Youth, adults): 15-24
2  2023  Sex: Total    Age (Youth, adults): 25+